#wrap {
	width:971px;
	text-align:left;
	margin:0;
	margin-right: auto;
	margin-left: auto;
	background-repeat: repeat-y;
	min-height:780px;	
}

#printArea {
	font-family: seo;
	font-weight:900;
	float:center;
	color: #333;
	margin:0 0 0 40px;
}

#printDiv {
	text-align:center;
	border:solid 4px #000000;
	width:410px;
	float:left;
	padding:10px;
	margin-right:22px;
	margin-bottom:10px;
}

#outputClientName {
	font-size:30px;
	height:40px;
	width:100%;
}

#outputTableCount {
	font-size:45px;
	height:44px;
}

#outputWifi {
	font-size:25px;
	height:44px;
}

#qrAdMsg{
	font-family: seo;
	font-size: 14px;
	font-weight:900;
	float:left;
	color: #333;
	height:100px;
}

#qrAdImage{
	height:200px;
}